<div id="topnav" class="navbar">
    <a href="#" class="logo">
      LOOK
      <span style="color: red">E</span>
      <span style="color: orange">R</span>
    </a>
    <div class="navbar-right menu">
      <a href="home" class="active">
        Home
      </a>
      <a href="blog">
        Services
      </a>
      <a href="#">
        Career
      </a>
      <a href="onlylooker">
        Our Team
      </a>
      <a href="#">
        Contact
      </a>
      <button class="button" id="form-open">Login</button>
    </div>
    <div class="navbar-right">
      <a href="javascript:void(0);" class="icon" onclick="showMenu()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>