<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/home_page.css">
</head>

<body>

    <div id="topnav" class="navbar">
      <a href="#" class="logo">
        LOOK
        <span style="color: red">E</span>
        <span style="color: orange">R</span>
      </a>
      <div class="navbar-right menu">
        <a href="#" class="active">
          Home
        </a>
        <a href="#">
          Services
        </a>
        <a href="#">
          Career
        </a>
        <a href="#">
          Our Team
        </a>
        <a href="#">
          Contact
        </a>
      </div>
      <div class="navbar-right">
        <a href="javascript:void(0);" class="icon" onclick="showMenu()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <img src="/images/CLV (319).jpg">
    <div id="slideshow-container" class="slideshow-container">
      <div class="slide-item bgimg fade" style="background-image: url('/images/CLV3.jpeg');">
        <div class="caption">
          <h2>
            Looker
          </h2>
          <p>
            We use Looker to helps clients explore, share, and visualize their company's data so
            <br>that they can make better business decisions.
          </p>
          <button>
            About us
          </button>
        </div>
      </div>
  
      <div class="slide-item bgimg fade" style="background-image: url('assets/CLV2.jpeg');">
        <div class="caption">
          <h2>
            Looker
          </h2>
          <p>
            We use Looker to helps clients explore, share, and visualize their company's data so
            <br>that they can make better business decisions.
          </p>
          <button>
            About us
          </button>
        </div>
      </div>
  
      <div class="slide-item bgimg fade" style="background-image: url('assets/CLV4.jpg');">
        <div class="caption">
          <h2>
            Looker
          </h2>
          <p>
            We use Looker to helps clients explore, share, and visualize their company's data so
            <br>that they can make better business decisions.
          </p>
          <button>
            About us
          </button>
        </div>
      </div>
  
      <div id="slide-control" class="slide-control">
        <span class="dot" onclick="chooseSlide(0)"></span>
        <span class="dot" onclick="chooseSlide(1)"></span>
        <span class="dot" onclick="chooseSlide(2)"></span>
      </div>
    </div>
  
    <script src="/script/home_page.js"></script>
  
  </body>

</html>