<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/styles/home_page.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>
  <body>
    <%- include('./includes/navbar.ejs') %>

    <div class="looker">
      <div class="content">
        <div>
          <h1>
            Build with the<br />
            Looker Platform
          </h1>
          <p>
            Enhance your own workflows with Looker, or build extensions<br />
            on the Looker platform for the rest of the world.
          </p>
        </div>
        <div class="search-box">
          <input
            class="search-input"
            type="search"
            placeholder="Search for Looker content"
          />
        </div>
      </div>

      <div class="represent">
        <img src="/svg/looker_logo.svg" alt="looker_logo" />
      </div>
    </div>

    <%- include('./includes/login_signup.ejs') %>

    <script src="/script/home_page.js"></script>
  </body>
</html>
