<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Only Looker</title>
    <link rel="stylesheet" href="/styles/our_team.css">
</head>

<body>
    <section>
        <div class="banner">
            <div class="navbar">
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="onlylooker">Our Team</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <% for(const content of contents) {%>
                <div class="card">
                    <div class="content">
                        <div class="imgBx"><img src="<%= content.picture %>"></div>
                        <div class="contentBx">
                            <h3><%= content.name %><br><span>Developer</span></h3>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
</body>

</html>