<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" href="/styles/our_team.css">
</head>

<body>
    <section>
        <div class="banner">
            <div class="navbar">
                <ul>
                    <li><a href="http://127.0.0.1:5500/html/home_page.html">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="http://127.0.0.1:5500/html/our_team.html">Our Team</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="/images/member1.jpg"></div>
                    <div class="contentBx">
                        <h3>Someone Famous<br><span>Creative Designer</span></h3>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="/images/member2.png"></div>
                    <div class="contentBx">
                        <h3>Someone Famous<br><span>Creative Designer</span></h3>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="/images/member3.png"></div>
                    <div class="contentBx">
                        <h3>Someone Famous<br><span>Creative Designer</span></h3>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx"><img src="/images/member4.png"></div>
                    <div class="contentBx">
                        <h3>Someone Famous<br><span>Creative Designer</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>