<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>
    <link rel="stylesheet" href="/styles/timeline.css">
</head>
<body>
    <%- include('./includes/navbar.ejs') %>
    <div class="container">
        <div class="timeline">
                <div class="timeline-row">
                    <div class="timeline-time">
                        PI6<small>2022 Jun 22</small>
                    </div>
                    <div class="timeline-content">
                        <!-- <i class="icon-attachment"></i> -->
                        <h4>Looker Established</h4>
                        <p>First 3 members</p>
                        <div class="thumbs">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8DoLlLZeDu8nq1Ct-vwgjvvXKO4MmngpUUTmKKTyOdas0CiEbKQUaQxbg-v4CFEq5SIzlV8WmCqZRafwcB6WVImO8mAAa8VsdHrEuBdIg58Cmm66qtFCZNcT12njnbqFqzBFQ-D2OAP7GLUatmmAbQ1=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8CdJlupI0dBB3-pgKKwcMdFrQ7lwPKKC1dvP1p8HEZlk2HCO2QHpA9YfRc5rhWmRJEAS42uyh_VCjqA3RHy8fK5L7eKG5iWFo5wy7T82jKgXZLihiA757xLFOavpueMg4a-GP0KkQtl8n64vQhgXTHt=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8BQYzjqbDxvSsjxebLQjzB-8TsZDXXWSs82cvWxn0sYpo9F4rxR573KY7SNh1Xg5xcn1fYKLKJKc8GvHRLC5aAYGSvTRiA7n0b-nfrO9tVDBM7oiHdGMD0hwcpfWlmj5LooQF_7CuFO4usojymeHm_2=s933-no?authuser=0" alt="Maxwell Admin">
                        </div>
                        <div class="">
                            <span class="badge badge-pill">PI6</span>
                        </div>
                    </div>
                </div>
        
                <div class="timeline-row">
                    <div class="timeline-time">
                        PI7<small>2022 Oct 2</small>
                    </div>
                    <div class="timeline-content">
                        <i class="icon-code"></i>
                        <h4>Looker Team Expanding</h4>
                        <p>
                            11 members join to team
                        </p>
                        <div class="thumbs">
                            <div class="thumbs">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8AXKCYLj9DxjB4AyVU3Jm7oFRbicSSEDcoPPjsS8QN2753Z6KNmRrDvMP69ddcF7qt_Jqy8OlCI6QyTeBAxFK3F3coMzhTc0uQ6LBcgpWd-ZcGeSjaGoAAaPAEIG3TFXZvuKRnL52aWeipo0GIyvhAD=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8B6NzyFqb1twIJ-UM76Ql7mebt7TrpR6vCEhN6QRlQ3vEXYBXywdpDNkDx651pHNKjQbr62eaQGBXgKGnC4oZZh90_2utfo9cEnEPy1PVaSThCpzhJsHIQhUP5fym44RsB1F4gM27lGjMXlUzPPByVR=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8BKaDRfqUr3YXBxCFK97l4Draq9j8J1QYdmgPIYtq_2EesLZ4mrhmkueqJv8U7z29nb8cVE83liyXid_wt-BuaugXtvt3EH8-ZwBF-NjOeLC9yD6S3MFfBdXrtglj_JLkTJk5mZvdfK-pEcfO58Mzh-=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8CQRZC_cnk_zn2h5XmpzbfnufNpKXLzv_dIBQSE66llhridvg527oCthlmteq3MnQFFNLYcGGlpzmXuA9fChlB3Wk0By8jekTYiPxOisSFaapcZVrg0nESEsI1Yv1PsagJkH-Bo40quI226im6XT6GD=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8CJ7xnUaD1-0mHx9u86XXCLf9f-KhuxVMoOicILkHwFeC2HY2X_aa4Zk_f0IlEy8IEiDNC1zQGIWjhvgnJxevQru0tSw3_8-uKqybHeNww1KWxpF6BqLWInvdwpfrUVYmoWGssJfXKJtEcDwDnyjddR=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8BEAR0gZETpRdl0EhadFKkZBk4Es2E6byMSUhVTyMCWo5v7jQlhC8dJsf1xTR_KxbjBFObgHjqAAwxDgkI56Xujo8ffNwb8fB0CGDg2e8Dc5B7oyQ_ts-955oQDImv4tZZh4VvPMyFoumdK61_a1acJ=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8BpCi3WAyTPiRcl5FA1VHT2YoWPsZKHrlGUf6cNrdLJjkbMT77j5qSI_Q8I9ii3M25DOlhaRGrSZcaNcTJMopsYLJqaEfknjcNquWI6yuDpWbsf9woTlptIi7T9Pg2OH8CJ9BteIdmqgodnaN3TMATW=s952-no?authuser=4" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8AtzcgaHj0y2_HZg-p7j3OYAHNL3zwETo-KpU0zDr9i0Wx1Zqfp-d6yJyxsmgy1OltmC6n-73SOK69zRGSd1ihsOa9QuHn1YLBYRkRIy7qmzb2HB9fiQU_vTPazOa3shk2t6eVeCiQtYdZrBmCQAf0_=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8AYZjGQlCMTp5WKnCQpFBzBCc-OL1K-ht3ol4IbBjV9kLctN6CY_aI_oJEQg_c2BihUly_FyTTWonBOQpnlUDbi6NmZ-0eOvlU_64cEoYzl4I8wvM9Rt7A5QWlWqMMf6YjN70GuIIOrRuCHx0NjBm6s=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8CLi9gEvsGoLILDi3-y-gppDlr9PSWVToucdyqGs8hDutAWO0spojyzd9aDwGwQAi5SYQEN56mdim_LgKgu1ofdrd4tx5-718gO2XTIbDUmxaw8aD1V6El4blfRCPtsrCQKpq9QvC83lz2tGcuD9jBM=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8A2l06Rr1Yc6a-Zvr0pRICNvGgPPILibNo-To2BLKmZvdoWiRSRCK-LzX1Dd9C9UGKLbNyJm6PoOzXEcEmcFQKFx6efmyg1oKOTqF3JABM8NYJv2ZAgkvndMoT8f_Cf3XNhHa0_eBiwByCT7123vQie=s933-no?authuser=0" alt="Maxwell Admin">
                        </div>
                    </div>
                        <div class="">
                            <span class="badge badge-pill">PI7</span>
                        </div>
                    </div>
                </div>
        
                <div class="timeline-row">
                    <div class="timeline-time">
                        PI8<small>2023 Feb 1</small>
                    </div>
                    <div class="timeline-content">
                        <i class="icon-turned_in_not"></i>
                        <h4>Looker Team Expanding</h4>
                        <p>
                            Congratulation on 12 trainees passed the training period. Welcome to Looker Team.
                        </p>
                        <div class="thumbs">
                            <div class="thumbs">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8DtMyk8eSpq6QWr-3CPUWMZjdWBfUW8HccRlGYS_t0Hw2ozoHnbwmsGnFEtyNYrC-MP9kqLXcZqqhbAqT0sgBR9uWyGS40m9EwTQygf_rhgXuWkFKBPFWW3A_PXxj22Anz_ZSJnTWs5BWQAMWqjfQc-=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8A3I_pPjxaFdBwqg_lX3SlaUvCs2OlTAS8jxYE4oqwJb6LD9uEjTk09pZ1Wmvu7v2o3b1DntITmtsWQVcD9Yl1qdEnVRwsyycJ6i2X45tIjbCPF1uZE9ZIefF3NFQ72JBrg3OkSdwg7IHE4FSG_bMxI=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8CEp4BDieVxFUdoe44m6Su88A7Wv_SeFuLchMVLe8Dv5x1biF6viwkNLjQCv-Gs-QdxZr7Fx2abEfmefkQocfBYg50cUIzbv6tjjtUWES5Zv7YJsAxWzwSX0CwWSq0zQVxvEmTqw-SdBBkgWwVqpylJ=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8Bx0kIMjJT_sKtlpwAwE0fHkuV81rVARmdJH0TG9bV4fE5kYzPuWgm1DoLRKAF5AjaR6MOiMqzBh_N5nuoK_x2mEVkQPjchaufWJli57-Z6vXcCN5y_R1hhjv4DSNUSmjSoxM_WhHv-C83V7pVIknul=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8CTOGby6J88SigYglBkjWkX4rN8KUXMKIMhptx_5CbQ0pldv6ZVncIJPFEk0oehCm0Uaox4H6gp7ludg9V4aJw3vV0UQvZ_g5U-9NnJ5pPI8_6CagoAkh0YAIOEf9tVTCQqjHpAWRTG-X3EU4Uozg7O=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8Akr464f7tPvVrvN7YTdvR59immabQMY4-6XpMc3hXGzxm9fLkSY8NYw-1CDMH9ag1VFrYAxIK0bcTIMlpsCFjdMl6bVHjY7s6TpgLyjuLWykKTlDmQVadrRgBZ6CWV2bDMlre1JinfPLCHb0Ts5QPx=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8CK4QSQbPBMnHUHC4XVGWxS4R_5j5pJHVR9PEplG2_rWp3WAX7eLE7UCtcDiIFqdq-UaVdNVc7FIjvwCGKYOCpyOjPVeuYrXnU7Nc5tqDWY6oT_OtOG_hjG8dRvffGxmNXN7Dn6Emlbz2NrksuOjuvu=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8DYpmNnO1A9cLD3_JYqf6YLTFOgLFTv-2H_I5lB6r2FEJbfwskexzB-poMaMrcRf4ACa0rmXAste09gvoqvxzguIBilzMUGfvCl8YbnBylynR_MdYiFmtYrtiRouy1lpvg1pRvUQBtoi4iSlqPIk4I_=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8BWezJqzKqFAzH2lMBxWCAvNu_XgPwly07ZxAo5qhvQCltHvSiQL09oxDRlXopgaroM5N9eMcO7YgN4VhpEoLfdQx-6GPmCzslaCpg1tEPOtXKa5SUmXjNuAm4IO031tMk7JlgamagR12wDChueGqdS=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8C3TseAjrSPR1BwXrEtmBeD9C5e2HEvfwMclSSgp1n-jq3SDUNOl35_2LbeFAc0xKmqNOY3QoZ1xtsGniT3yNCMMII0WGqRiXz1ylrAK0O78cznzyW8Wov1S3FhVkapBmbTnbtgj4pM1um4cLyHQd9q=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8C2XGxyJ8cxFif0O4CKQmZvW6DI9LMqz-kKKs2pmF4Fv1pIfK2pPeEljwTNyK1QWl6zPWt70g0Fjr3ROOP5ZiwAfxKZH0oy13RyqtcaFWqwlDFFHjtsMcVWxaCZSB9v_K7iUkT8tkocAmOZvZ_fsWu4=s933-no?authuser=0" alt="Maxwell Admin">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8A815JFdpyG50nZd0Pqn8p4-urUz_Gttn0Kwnd_61rbwIZ8VSEINc6TQAFQ7l8Vlyizd9ahAmCh-Aiq5SAEOX9Ai0rn3OFjj85WtI9l8rgZBnID8iGV5mTFFTy8p1jGzZbJVx0D_y0vMSkc80RLA5r-=s933-no?authuser=0" alt="Maxwell Admin">

                        </div>
                        <div>
                            <span class="badge badge-pill">PI8</span>
                        </div>
                    </div>
                </div>
                </div>
        
                <div class="timeline-row">
                    <div class="timeline-time">
                        PI9<small>2023 May 17</small>
                    </div>
                    <div class="timeline-content">
                        <i class="icon-change_history"></i>
                        <h4>Looker Team Expanding</h4>
                        <p class="no-margin">
                            Welcome new 6 members to Looker Team
                        </p>
                        <div class="thumbs">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8Da6O_QvMN5XUhc4M7gpVpBszJH8FsKmetxd89HWisWXQyNrVWrVaytHkJm-qC86PtEnpevIYbRToChO2y4wUnSYAhOtjSw0E_hSwmPsB20CHwJhOiksFiChO29WN-SB7ZS_4N5TH5n9ySCb1uNDSZH=s952-no?authuser=4" alt="Hien Nguyen Thi Thu">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8Cpalus7rYcRj2Pg8ZrKz38kvTTpWR0ot3_8XiOJGXxY_m_3bOtA2g956Nt-waA9xUMF2iVrj3BSeKx5MpGZ9-1vHNFPYYpyFYbnqTtHpAnFiqZQslCEgb9Y73x6f95eUSxOxNzBLlGVzaIKWnHMHxr=s933-no?authuser=0" alt="Giang Nguyen Kieu">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8B3LQgC4SoUYrPb6FCinZobiYqF03KukRsllM30qzA_REaYRk81sajJo0yz3tWDRJrMODAAfud28Fjhy9StwLn5aB8PkW4GgqyrcwMTlFPvB7tx3VM5a-IPx_Hsfl0TzVAXZmeMMlwLQZBNF2mgOdp2=s933-no?authuser=0" alt="Kim Tran">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8DFH-6mTmbYiz7353iY_JWxrPtmidz_Dk1liS532097oQ2Te1w16Jth1Cr5QHHBSR6bF1844weRZ9EYKYMjng64il5E0O_5TeoHvTF34vJVLYwVifZIzko4Gcf4PZ1vYONoJU648u-tyGPsR0OfLbUp=s933-no?authuser=0" alt="Tho Nguyen">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/AMWts8CNG-zQV19Q87vY8UzcpIU360RJ0v5TD3EEwl5rVu3sIrO76lABtChFCIDpJ34IFx5Ob47m8FbhESXwj12nxr6-Ecqpf6n17ReYVptcE410pAaQK6lzedF1DaxQ5BmRLrSghB1HZ2vNT8aN6tbwxtyL=s933-no?authuser=0" alt="Huy Doan">
                            <img class="img-fluid rounded" src="" alt="An Banh">
                        </div>
                        <div>
                            <span class="badge badge-pill">PI9</span>
                        </div>
                    </div>
                </div>
        
                <div class="timeline-row">
                    <div class="timeline-time">
                        PI10<small>2023 Aug 10</small>
                    </div>
                    <div class="timeline-content">
                        <i class="icon-code"></i>
                        <h4>Looker Team Expanding</h4>
                        <p>
                            Welcome new 10 members to team
                        </p>
                        <div class="thumbs">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-xZR9GntDJ98Pw4AQarNg6Gcinfgl1hy9csMmk8qHQBeQFrtgG0YgY1UDWCaNObHgT5jF9c9CMBjnKfbx7NP9NMQ4IE=w1920-h883" alt="Phuc Nguyen Hong">
                            <img class="img-fluid rounded" src="" alt="Khoa Nguyen">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/ADCreHeJjBdjroLRzJ7aMHPBbjVLoZI-jGplOUPAWZ1N1AO2DuGgLXHsbK_HxPojEDixbOGTqeKBBypXlsuWnUh7ZwX1IYsUi7N7NlJSwRKtmAbsj3PC1MJ9ocvQQTEcmLsJNdbqxxuaiZ4esi-hAwnsG0jv=w543-h724-s-no?authuser=0" alt="Hien Nguyen">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/pw/ADCreHdwPULWjYQ-UD3LQ8yVjMoEsPSWg_V4khu5oHFBl1_LaBPTkcdCdXDr_qx1n3Dn6-mJt68pjMs6KhBzdkNbR5w10voko4mOA4P5ESqDk02E_-Fm1-AlW2ggU4U1oyqArrhvHoU6f9mWwmv3n4biTeqc=w413-h614-s-no?authuser=0" alt="Cong Vo ">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaAMnMuWi6z0z0YJn75B9HBgu2zMFJUip5zX5e9F9-dnyDt9BCaeoY0lrfdcXLaYNN-YBTeA_KTHKpF27CgsFQ=w1920-h724" alt="Linh Le">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaD6gnnKboHi0S7qkKZynXGhdPipDfIArQVjfo4_agvxxh1UADXfEF98nfY8AIVugOtnzD73PKotDvyy_GJ-ka5fiasHZA=w1920-h923" alt="Trang Nguyen">
                            <img class="img-fluid rounded" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaBlDsLJ6_-_Fts_eTB8sUC1R-dTHnTJi79v-YtenBZRzsJwf54e0tUMwrSfw5U1Sk9MVm3X34_HF2J4zea3KR2p-V2Hxw=w1920-h923" alt="Khanh Duong">
                            <img class="img-fluid rounded" src="" alt="Xuan Le">
                            <img class="img-fluid rounded" src="" alt="Anh Nguyen">
                            <img class="img-fluid rounded" src="" alt="Phuc Nguyen Tuan Hoang">
                        </div>
                        <div class="">
                            <span class="badge badge-pill">PI10</span>
                        </div>
                    </div>
                </div>     
                <div class="timeline-row">
                    <div class="timeline-content">
                        <p class="m-0">Loading...</p>
                    </div>
                </div>
        
            </div>
        </div>
</body>
</html>