:root {
	--text: #031207;
	--background: #e0fae7;
	--primary: #5d0e48;
	--secondary: #f7d9ce;
	--accent: #d822a8;
  
	/* --text: #000000;
	  --background: #f1effb;
	  --primary: #c9de7c;
	  --secondary: #d8f3ce;
	  --accent: #c49a31; */
  
	/* --text: #551a8b;
		--background: #f3f6fa;
		--primary: #3c64b1;
		--secondary: #e8edf6;
		--accent: #d822a8; */
  }
  
  body,
  html {
	font-family: "Ubuntu", sans-serif;
	margin: 0;
	height: 100%;
	width: 100%;
	background: #f3f6fa;
  }
  
  .navbar {
	background-color: #e8edf6;
	display: flex;
	width: 1440px;
	height: 88px;
	justify-content: center;
	align-items: center;
  }
  
  .navbar a {
	flex-basis: 200px;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	padding: 12px;
  }
  
  .navbar .logo {
	flex-basis: 600px;
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
  }
  
  .navbar-right {
	float: right;
  }
  
  .navbar-right button {
	color: #551a8b;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 24px 10px 24px;
	margin-left: 10px;
	border: 2px solid #551a8b;
	border-radius: 6px;
	background: transparent;
	transition: color 0.5s ease;
	cursor: pointer;
	position: relative;
	top: 0px;
  }
  
  .dropbtn {
	color: #551a8b;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
  .looker {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 500px 900px;
	gap: 100px;
  }
  
  .looker .content {
	position: relative;
	top: 150px;
	left: 100px;
  }
  
  .looker .represent {
	position: relative;
	display: flex;
	justify-content: center;
	top: 10px;
	padding-left: 0px;
	padding-right: 0px;
  }
  
  .search-input {
	border: 2px solid #4285f4;
	border-radius: 6px;
  }
  
  .search-input {
	padding: 10px 24px 10px 24px;
	border: 2px solid #4285f4;
	border-radius: 6px;
	width: 300px;
  }
  
  /* Home */
  .home {
	position: relative;
	height: 100vh;
	width: 100%;
  }
  .home::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease-out;
  }
  .home.show::before {
	opacity: 1;
	pointer-events: auto;
  }
  /* form */
  .form_container {
	position: fixed;
	max-width: 320px;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.2);
	z-index: 101;
	background: #fff;
	padding: 25px;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.4s ease-out;
  }
  .home.show .form_container {
	opacity: 1;
	pointer-events: auto;
	transform: translate(-50%, -50%) scale(1);
  }
  .signup_form {
	display: none;
  }
  .form_container.active .signup_form {
	display: block;
  }
  .form_container.active .login_form {
	display: none;
  }
  .form_close {
	position: absolute;
	top: 10px;
	right: 20px;
	color: #0b0217;
	font-size: 22px;
	opacity: 0.7;
	cursor: pointer;
  }
  .form_container h2 {
	font-size: 22px;
	color: #0b0217;
	text-align: center;
  }
  .input_box {
	position: relative;
	margin-top: 30px;
	width: 100%;
	height: 40px;
  }
  .input_box input {
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	padding: 0 0 0 5px;
	color: #333;
	transition: all 0.2s ease;
	border-bottom: 1.5px solid #aaaaaa;
  }
  .input_box input:focus {
	border-color: var(--black);
  }
  .input_box i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	color: #707070;
  }
  .input_box i.email,
  .input_box i.password {
	left: -17px;
  }
  .input_box input:focus ~ i.email,
  .input_box input:focus ~ i.password {
	color: var(--black);
  }
  .input_box i.pw_hide {
	right: 0;
	font-size: 18px;
	cursor: pointer;
  }
  .option_field {
	margin-top: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .form_container a {
	color: var(--red);
	font-size: 12px;
  }
  .form_container a:hover {
	text-decoration: underline;
  }
  .checkbox {
	display: flex;
	column-gap: 8px;
	white-space: nowrap;
  }
  .checkbox input {
	accent-color: #7d2ae8;
  }
  .checkbox label {
	font-size: 12px;
	cursor: pointer;
	user-select: none;
	color: #0b0217;
  }
  .form_container .button {
	background: var(--red);
	color: var(--white);
	margin-top: 30px;
	width: 100%;
	padding: 10px 0;
	border: 0 solid var(--white);
	border-radius: 10px;
  }
  .login_signup {
	font-size: 12px;
	text-align: center;
	margin-top: 15px;
  }
  
  @media (min-width: 1440px) {
	.picture {
	  right: 100px;
	  left: 1000px;
	}
  
	.navbar {
		width: auto;
		height: auto;
	}
  
	.navbar a {
	  flex-basis: 200px;
	}
  
	.navbar .logo {
	  flex-basis: 1000px;
	}
  }
  
  #topnav .navbar-right menu{
	width: 650px;
  }

  